:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #000000;
	--secondary: #171717;
	--tertiary: #ededed;
}

[data-theme='dark'] {
	--background: #0a0a0a;
	--foreground: #ededed;
	--primary: #ededed;
	--secondary: #171717;
	--tertiary: #0a0a0a;
}
