:root {
	--background: #f8fafc;
	--foreground: #171717;
	--primary: #000000;
	--secondary: #171717;
	--danger: #a31d1d;
	--success: #0d4715;
	--warning: #e9762b;
	--info: #000000;
}

[data-theme='dark'] {
	--background: #181c14;
	--foreground: #ededed;
	--primary: #ededed;
	--secondary: #171717;
	--danger: #a31d1d;
	--success: #0d4715;
	--warning: #e9762b;
	--info: #000000;
}
