@use 'variables' as *;
@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-pt-sans);
}
