@import 'tailwindcss';

@utility container {
	padding: 0 1rem;
	margin: 0 auto;
}

@theme {
	/* Breakpoints */
	--breakpoint-xs: 480px;

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-danger: var(--danger);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-info: var(--info);
}
